/****** SCROLL ANIMATIONS *****/
#typography, #reminder, #manageP, #retire{
  overflow-x: hidden !important;
}
/* REDEFINE */
#redefine{
  position: relative;
  opacity: 0;
  bottom: -150px;
  transition: all 1s;
}

/* TYPOGRAPHY / MANAGE PENSION / REMINDER / Retire / PERSONALIZE / RETIREMENT*/
#typography1, #manageP1, #manageP3, #reminder1, #retire1, #retire3, #rCalculator1, #rCalculator3{
  opacity: 0;
  left: -150px;
  transition: all .7s;
}
#typography2,  #rCalculator2, #reminder2, #manageP2, #retire2{
  overflow-x: hidden !important;
  opacity: 0;
  right:-150px;
  transition: all 1s;
}

/* USER EXPERIENCE */
#ux1, #project2, #personalize1{
  opacity: 0;
  top:-150px;
  transition: all 1s;
}
#ux2,#project1,#personalize2{
  opacity: 0;
  bottom:-150px;
  transition: all 1s;
}

/* DIGITAL CUSTOMER */
#digital-customer, #welcome-show{
  opacity: 0;
  transform: scale3d(0,0,0);
  transition: all 1s;
}

#landing-page-image{
  opacity: 0;
  transform: scale3d(1,1.5,0);
  transition: all .5s;
}

video{
  opacity: 0;
  bottom:-150px;
  transition: all 1s
}